@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("Home Page", webJarsUtil) {
  <script>
    $(window).load(function() {
      $(function() {
        $('#foo2').carouFredSel({
          auto: false,
          responsive: true,
          width: '100%',
          prev: '#prev2',
          next: '#next2',
          scroll: 1,
          items: {
            height: 'auto',
            width:320,
            visible: {
              min: 1,
              max: 1
            }
          },
          mousewheel: true,
          swipe: {
            onMouse: true,
            onTouch: true
          }
        });
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      jQuery('.camera_wrap').camera();
    });
  </script>
  <div class="main">
    <article class="slider">
      <div class="camera_wrap">
        <div data-src="@routes.Assets.versioned("img/picture1.jpg")"><div class="camera-caption fadeIn"></div></div>
        <div data-src="@routes.Assets.versioned("img/picture2.jpg")"><div class="camera-caption fadeIn"></div></div>
        <div data-src="@routes.Assets.versioned("img/picture3.jpg")"><div class="camera-caption fadeIn"></div></div>
      </div>
    </article>
  </div>
  <div class="global">
    <section class="welcomeBox">
      <div class="container">
        <div class="row">
          <article class="col-lg-12 col-md-12 col-sm-12">
            <h2>Plunge into the wonderful<br>world of reading</h2>
          </article>
        </div>
      </div>
    </section>
    <section class="popularBox">
      <div class="container">
        <div class="row">
          <article class="col-lg-12 col-md-12 col-sm-12 banner-box">
            <h3>MOST POPULAR</h3>
            <div class="row">
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic1.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">The Road</a>
                      <p class="title">by Cormac McCarthy</p>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic2.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">Interpreter of Maladie</a>
                      <p class="title">by Jhumpa Lahiri</p>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic3.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">Middlesex: A Novel</a>
                      <p class="title">by Jeffrey Eugenides</p>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic4.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">Gilead: A Novel</a>
                      <p class="title">by Marilynne Robinson</p>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic5.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">kavalier & clay</a>
                      <p class="title">by michael chabon</p>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic6.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">A canticle for leibowitz</a>
                      <p class="title">by walter m. miller jr.</p>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic7.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">The Corrections</a>
                      <p class="title">by jonathan franzen</p>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <div class="thumb-pad2 maxheight1">
                  <div class="thumbnail">
                    <figure><a href="#"><img src="@routes.Assets.versioned("img/page1_pic8.jpg")" alt=""></a></figure>
                    <div class="caption">
                      <a href="#">tree of smoke: A Novel</a>
                      <p class="title">by denis johnson</p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </article>
        </div>
      </div>
    </section>
    <section class="circleIconBox">
      <div class="container">
        <div class="row">
          <article class="col-lg-3 col-md-6 col-sm-6">
            <div class="thumb-pad1 maxheight">
              <div class="thumbnail">
                <h2>Ask a Librarian</h2>
                <div class="badge"><span class="fa fa-comment"></span></div>
                <div class="caption">
                  <p class="title">Mes cuml dia sed ineniet inger lot aliiqs dolore.</p>
                  <p>Mes cuml dia sed in lacus ut eniascet inger aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen dolor.</p>
                  <a href="#" class="btn-default btn1">read more</a>
                </div>
              </div>
            </div>
          </article>
          <article class="col-lg-3 col-md-6 col-sm-6">
            <div class="thumb-pad1 maxheight">
              <div class="thumbnail">
                <h2>Innovations</h2>
                <div class="badge"><span class="fa fa-lightbulb-o"></span></div>
                <div class="caption">
                  <p class="title">Mes cuml dia sed ineniet inger lot aliiqs dolore.</p>
                  <p>Mes cuml dia sed in lacus ut eniascet inger aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen dolor.</p>
                  <a href="#" class="btn-default btn1">read more</a>
                </div>
              </div>
            </div>
          </article>
          <article class="col-lg-3 col-md-6 col-sm-6">
            <div class="thumb-pad1 maxheight">
              <div class="thumbnail">
                <h2>Join the Library</h2>
                <div class="badge"><span class="fa fa-pencil-square-o"></span></div>
                <div class="caption">
                  <p class="title">Mes cuml dia sed ineniet inger lot aliiqs dolore.</p>
                  <p>Mes cuml dia sed in lacus ut eniascet inger aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen dolor.</p>
                  <a href="#" class="btn-default btn1">read more</a>
                </div>
              </div>
            </div>
          </article>
          <article class="col-lg-3 col-md-6 col-sm-6">
            <div class="thumb-pad1 maxheight">
              <div class="thumbnail">
                <h2>Help</h2>
                <div class="badge"><span class="fa fa-search"></span></div>
                <div class="caption">
                  <p class="title">Mes cuml dia sed ineniet inger lot aliiqs dolore.</p>
                  <p>Mes cuml dia sed in lacus ut eniascet inger aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen dolor.</p>
                  <a href="#" class="btn-default btn1">read more</a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>

}
