@import controllers.routes
@(title: String, webJarsUtil: org.webjars.play.WebJarsUtil)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@routes.Assets.versioned("img/favicon.ico")" type="image/x-icon">
    <link rel="shortcut icon" href="@routes.Assets.versioned("img/favicon.ico")" type="image/x-icon"/>
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <meta name = "format-detection" content = "telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @webJarsUtil.locate("css/bootstrap.min.css").css()
    @webJarsUtil.locate("css/bootstrap-select.min.css").css()
    @webJarsUtil.locate("build/toastr.min.css").css()
    <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/camera.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("fonts/font-awesome.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("fontawesome-free-5.10.1-web/css/all.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    @webJarsUtil.locate("jquery.js").script()
    @webJarsUtil.locate("popper.js/1.14.3/umd/popper.min.js").script()
    @webJarsUtil.locate("js/bootstrap.min.js").script()
    <script src="@routes.Assets.versioned("js/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/superfish.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/jquery.easing.1.3.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/jquery.mobilemenu.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/jquery.ui.totop.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/jquery.equalheights.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/camera.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/jquery.carouFredSel-6.1.0-packed.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/jquery.mousewheel.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/jquery.touchSwipe.min.js")" type="text/javascript"></script>
    @webJarsUtil.locate("knockout.js").script()
    <script src="@routes.Assets.versioned("lib/knockout.mapping-latest.js")" type="text/javascript"></script>
    @webJarsUtil.locate("jquery-ui-src/1.11.4/ui/widget.js").script()
    @webJarsUtil.locate("jquery-file-upload/9.10.1/js/jquery.fileupload.js").script()
    @webJarsUtil.locate("bootstrap-select.min.js").script()
    <script src="@routes.Assets.versioned("javascripts/util/ko.select-picker.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/common.assist.js")" type="text/javascript"></script>
    @webJarsUtil.locate("toastr.min.js").script()

  </head>
  <body>
    @navbar()
    @content
  </body>
</html>
